<div>
    <div>
        <h1>{{mountain.name}}</h1>
    </div>

    <div>
        <h3>Beautiful {{mountain.name}} located in {{mountain.town}}, {{mountain.state}}</h3>
    </div>
    <div>
        <h4><a href="/mountains/{{mountain._id}}/trails">Recommended Trails</a> </h4>
    </div>

    <div>
        <p>currently the avalanche danger is {{mountain.avalancheDanger}}</p>
    </div>
</div>

<a href="/mountains">Back to Mountains</a>