<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Backcountry Buddy</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/mountains/{{mountain._id}}">{{mountain.name}}</a></li>
                <li><a href="/mountains">Mountains</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </div>
    </nav>
</header>


<div class='row'>
    <div class="col s12">
        <h3>Skiing/Riding {{mountain.name}}</h3>
    </div>
</div>

<div class="row">
    <div class="col s2 holder hoverable center-align">
        <h4><a class='nav center' href="/mountains/{{mountain._id}}/trails/new">Add a Trail</a></h4>
    </div>
</div>

{{#each mountain.trails}}
<div class='row'>
    <div class='col s6 z-depth-4'>
        <h5>Difficulty</h5>
        <p>{{this.difficulty}}</p>
        <h5>Description</h5>
        <p>{{this.description}}</p>
        <div class="row">
            <div class='col s3 holder hoverable center-align'>
                <h4><a class='nav' href="/mountains/{{../mountain._id}}/trails/{{this._id}}/edit">Edit</a></h4>
            </div>
            <div class='col s3 offset-s1 holder hoverable center-align'>
                <h4><a class='nav' href="/mountains/{{../mountain._id}}/trails/{{this._id}}/delete">Delete</a></h4>
            </div>
        </div>
    </div>
</div>
{{/each}}
