<div>
    <h1>{{mountain.name}}'s Trails</h1>

    <div>
        <a href="/mountains/{{mountain._id}}/trails/new">Add a Trail</a>
    </div>

    <div>
        <a href="/mountains/{{mountain._id}}">Back to Mountain</a>
    </div>
    
    {{#each mountain.trails}}
        <div>
            <h4>There is a {{this.difficulty}} located skier's right of the highest point</h4>
            <h5>follow that if you like {{this.description}}</h5>
        </div>
        <a href="/mountains/{{../mountain._id}}/trails/{{this._id}}">More Info</a>
    {{/each}}
</div>