<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Backcountry Buddy</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/mountains/{{mountain._id}}">{{mountain.name}}</a></li>
                <li><a href="/mountains">Mountains</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </div>
    </nav>
</header>


<div class='row center'>
    <div class="col s12">
        <h3>Skiing/Riding {{mountain.name}}</h3>
    </div>
</div>

<div class="row center">
    <div class="col s2 offset-s5 holder hoverable">
        <h5><a class='nav' href="/mountains/{{mountain._id}}/trails/new">Add a Trail</a></h5>
    </div>
</div>

{{#each mountain.trails}}
<div>
    <h4>{{this.difficulty}}</h4>
    <h5>{{this.description}}</h5>
</div> 
<a href="/mountains/{{../mountain._id}}/trails/{{this._id}}/edit">Edit</a>
<a href="/mountains/{{../mountain._id}}/trails/{{this._id}}/delete">Delete</a>
{{/each}}