<div>{{trail.description}}</div>

<div>{{trail.difficulty}}</div>

<a href="/mountains/{{mountainId}}/trails/{{trail._id}}/edit">Edit</a>
<a href="/mountains/{{mountainId}}/trails/">Back to {{mountainName}}'s Trails</a>