<div>
<div>
    <h1>{{user.name}}</h1>
</div>

<div>
    <img src="{{user.img}}" alt="">
</div>

<div>
    <p>{{user.name}}, a level {{user.ability}} skier, originally from {{user.hometown}} skies at {{user.favoriteMountain}}</p>
</div>
</div>

<a href="/users">Back to Skiers</a>