<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Backcountry Buddy</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/mountains">Mountains</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </div>
    </nav>
</header>



<div>
    <h1>{{user.name}}</h1>
</div>

<div>
    <img src="{{user.img}}" alt="">
</div>

<div>
    <p>{{user.name}}, a level {{user.ability}} skier, originally from {{user.hometown}} skies at {{user.favoriteMountain}}</p>
</div>


<a href="/users">Back to Skiers</a>